body {
    background-color: lightblue;
}

p {
    background-color: orange;
}

div {
    font-size: 30px;
}

img {
    margin: auto;
    display: block;
    border-color: black;
    border-width: medium;
    border-style: dashed;
    border-radius: 50px;
}

.list {
    list-style-type: upper-roman;
    list-style-position: inside;
    position: absolute;
    top: 2px;
    right: 200px;
    visibility: visible;
}

a {
    text-decoration: none;
}

/*odnośnik nieodwiedzony*/
a:link {
    color: #4CAF50;
}

/*odnośnik odwiedzony*/
a:visited {
    color: #ddc109
}

/*odnośnik wciśnięty*/
a:active {
    color: red;
}

/*odnośnik, na którym znajduje się kursor*/
a:hover {
    color: firebrick;
    margin-top: 5px;
    margin-left: 3px;
    font-weight: bold;
}

p::first-letter {
    font-size: 60px;
}

/*co drugi element listy zmieni kolor tła napisu*/
li:nth-child(2) {
    background-color: rebeccapurple;
}